{% extends 'layout.html' %}

{% block body %}
<h1>My Simulations</h1>

{% for n in range(0,computers|length) %}

<div class=computer>
<h3>{{ computers[n] }}</h3>
<table>
  <col width="100">
  <col width="400">
  <col width="80">
  <col width="100">
  <tr>
    <th>JobID</th>
    <th>Job Name</th>
    <th>Status</th>
    <th>Time</th>
  </tr>
  {% for par in simulations[n] %}
  <tr>
    {% for elm in par %}
    <td>{{ elm }}</td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
</div>
{% endfor %}


<form method="post">
  <input type="submit" value="Update (this may take some time)">
</form>

{% endblock %}
