{% extends 'layout.html' %}

{% block body %}
<h1>My Simulations</h1>

  {% for computer in computers %}

<h3>{{ computer }}</h3>
<table style="width:100%">
  <tr>
    <th>JobID</th>
    <th>Job Name</th>
    <th>Status</th>
    <th>Time</th>
  </tr>
  {% for sim in simulations %}
  {% for par in sim %}
  <tr>
    <td>{{ par[0] }}</td>
    <td>{{ par[2] }}</td>
    <td>{{ par[4] }}</td>
    <td>{{ par[5] }}</td>
  </tr>
  {% endfor %}
  {% endfor %}
</table>
{% endfor %}


<form method="post">
  <input type="submit" value="Update">
</form>

{% endblock %}
